/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Id_Contrato]
      ,[Id_Presupuesto]
      ,[Numero_Contrato]
      ,[Nombre_Final]
      ,[Importe]
      ,[Porcentaje_Anticipo]
      ,[Importe_Anticipo]
      ,[Fecha_Firma_Contrato]
      ,[Fecha_Inicio]
      ,[Fecha_Termino]
      ,[Id_Formato_Contrato]
      ,[Id_Formato_Caratula]
      ,[Id_Formato_Hoja_Estimaciones]
      ,[Observaciones]
      ,[Estatus]
      ,[Año]
      ,[Id_Contratista]
      ,[Id_Supervisor_Interno]
      ,[Id_Supervisor_Externo]
      ,[Id_Fuente_Inversion]
      ,[Fecha_Adjudicacion]
      ,[Id_Modalidad]
      ,[Numero_Licitacion]
      ,[Leyenda_Oficial]
      ,[Id_Oficio_Asignacion_Obra]
      ,[Id_Numero_Contrato_Pertenece]
  FROM [WSICOM_2017].[dbo].[Tbl_Contratos]

  SELECT 
	T1.[Id_Contrato] IC2018
    ,T1.[Id_Presupuesto] IP2018
    ,T1.[Numero_Contrato] NC2018
    ,T1.[Nombre_Final] NF2018,
	T2.[Id_Contrato]
      ,T2.[Id_Presupuesto]
      ,T2.[Numero_Contrato]
      ,T2.[Nombre_Final]
      ,T2.[Importe]
      ,T2.[Porcentaje_Anticipo]
      ,T2.[Importe_Anticipo]
      ,T2.[Fecha_Firma_Contrato]
      ,T2.[Fecha_Inicio]
      ,T2.[Fecha_Termino]
      ,T2.[Id_Formato_Contrato]
      ,T2.[Id_Formato_Caratula]
      ,T2.[Id_Formato_Hoja_Estimaciones]
      ,T2.[Observaciones]
      ,T2.[Estatus]
      ,T2.[Año]
      ,T2.[Id_Contratista]
      ,T2.[Id_Supervisor_Interno]
      ,T2.[Id_Supervisor_Externo]
      ,T2.[Id_Fuente_Inversion]
      ,T2.[Fecha_Adjudicacion]
      ,T2.[Id_Modalidad]
      ,T2.[Numero_Licitacion]
      ,T2.[Leyenda_Oficial]
      ,T2.[Id_Oficio_Asignacion_Obra]
      ,T2.[Id_Numero_Contrato_Pertenece]
  FROM 
	(SELECT DISTINCT * FROM [WSICOM_2018].[dbo].[Tbl_Contratos]) T1
	FULL OUTER JOIN
	(SELECT DISTINCT * FROM [WSICOM_2017].[dbo].[Tbl_Contratos]) T2
	ON T1.[Id_Contrato] = T2.[Id_Contrato] AND T1.[Numero_Contrato] = T2.[Numero_Contrato] AND T1.[Nombre_Final] = T2.[Nombre_Final]