/****** Script for SelectTopNRows command from SSMS  ******/
SELECT REPLACE(REPLACE([Id_Oficio_Asignacion] , CHAR(13), ''), CHAR(10), '') [Id_Oficio_Asignacion]
      ,REPLACE(REPLACE([Numero_Asignacion] , CHAR(13), ''), CHAR(10), '') [Numero_Asignacion] 
      ,REPLACE(REPLACE([Numero_Oficio_Asignacion] , CHAR(13), ''), CHAR(10), '') [Numero_Oficio_Asignacion] 
      ,REPLACE(REPLACE([Fecha_Oficio_Asignacion]  , CHAR(13), ''), CHAR(10), '') [Fecha_Oficio_Asignacion] 
      ,REPLACE(REPLACE([Id_Contratista] , CHAR(13), ''), CHAR(10), '') [Id_Contratista] 
      ,REPLACE(REPLACE([Id_Supervisor_Externo] , CHAR(13), ''), CHAR(10), '') [Id_Supervisor_Externo] 
      ,REPLACE(REPLACE([Id_Supervisor_Interno], CHAR(13), ''), CHAR(10), '') [Id_Supervisor_Interno]
      ,REPLACE(REPLACE([Observaciones_Generales] , CHAR(13), ''), CHAR(10), '') [Observaciones_Generales] 
  FROM [WSICOM_}2010].[dbo].[Tbl_Oficios_Asignacion]